name: Node CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install Dependencies
        run: |
          npm install
          npm run build --if-present

      - name: Lint and Format
        run: |
          npm run lint -- --fix 
          npm run format

      - name: Unit Test
        run: |
          npm run test:coverage

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: JEST Tests        
          path: junit.xml    
          reporter: jest-junit

  livraison:
    runs-on: windows-latest
    name: Livraison
    needs: [build]
    if: ${{ inputs.version != '' }} 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Configure GIT
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Create release
        run: npm version ${{ inputs.version }}

      - name: Push changes
        run: git push --follow-tags
